*.kml
*.png
*.dat
*.eps
*.pdf
*.bmp
*.ps
*.tmp
*.nc
*.history
*.txt
*.tiff
*.vrt
*.bsb
*.kap

batimetrias
bootstrap
datos
images
img
jquery
mapas
openlayers
polyfill
popper
temp

requerimientos
gulpfile.js