*.kml
*.png
*.dat
*.eps
*.pdf
*.bmp
*.ps
*.tmp
*.nc
*.history
*.txt
*.tiff
*.vrt
*.bsb
*.kap
images
mapas
temp
datos
dashboard/

applications\.html

bitnami\.css

openlayers/
img/

requerimientos